@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
*{
    box-sizing: border-box;
}
body{

    font-family: "Prata",sans-serif;
    margin: 0;
    background-image: url(bg.png);
    background-position: center center;
    min-height: 100vh;
    background-size: cover;
display: flex;
}
aside{
background-color: #000;
width: 300px;
color: white;
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: space-between;
font-size: 2rem;
}
a{
    color:white;
    text-decoration: none;
display: inline-block;
margin: .5rem;

}
ul{
    list-style-type: none;
}
.special{
    background-color: #feab51;
text-align: center;
color: black;
font-size: 2rem;
padding: 1rem;
}
main{
    color: white;
    padding: 3rem ;
    font-size: 2.5rem;
}
main h1{
    margin: 0;
}
main h3{
    color: #feab51;
    margin: 0;
}
 @media screen and (max-width:750px) {
body{

    flex-direction: column-reverse;
justify-content: space-between;
}     
aside{
    width: 100%;
}
.special{
    display: none;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: underline;
    -moz-text-decoration-color: #feab51;
    text-decoration-color:#feab51;
}

}